<div class="col">
	<h1>Nodemailer form</h1>
	<form action="/sendform" method="POST">
		<div class="form-group">
			<label for="name">Name:</label>
			<input type="text" class="form-control" name="name" placeholder="Name"/>
		</div>
		<div class="form-group">
			<label for="email">Email:</label>
			<input type="email" class="form-control" name="email" placeholder="Email"/>
		</div>
		<div class="form-group">
			<label for="feedback">Feedback:</label>
			<textarea type="text" class="form-control" name="feedback" placeholder="Feedback"></textarea>
		</div>
		<button type="submit" class="form-control btn btn-primary">Send form</button>
	</form>
</div>